* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
}
body {
    background-color: yellow;
}
/* Index */
h1 {
    text-align: center;
}
a {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}
.indexPage,
.pageOne {
    margin: 30px auto;
    width: max-content;
}
.indexPage .box {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 50px 30px 0;
    background-color: rgb(106, 197, 233);
}

.indexPage .box1 {
    animation: box1 3000ms infinite alternate running;
    transform: skew(-20deg);
}
@keyframes box1 {
    100% {
        transform: skew(20deg);
    }
}
.indexPage .box2 {
    background-color: lightgray;
    animation: box2 3000ms infinite alternate running;
    transform: skew(10deg, -20deg);
}
@keyframes box2 {
    100% {
        transform: skew(10deg, 20deg);
    }
}
.indexPage .box3 {
    animation: box3 3000ms infinite running;
}
@keyframes box3 {
    100% {
        transform: rotate(360deg);
    }
}
.indexPage .box3 {
    animation: box3 3000ms infinite running;
}
@keyframes box3 {
    100% {
        transform: rotate(360deg);
    }
}
.indexPage .box4 {
    animation: box4 3000ms infinite alternate running;
}
@keyframes box4 {
    100% {
        height: 50px;
    }
}
.indexPage .box5 {
    background-color: firebrick;
    animation: box5 3000ms infinite alternate running;
}
@keyframes box5 {
    100% {
        width: 50px;
    }
}
.indexPage .box6 {
    background-color: forestgreen;
    animation: box6 1500ms infinite alternate running;
}
@keyframes box6 {
    100% {
        transform: rotate(-90deg);
    }
}

/* Page 1 */
.pageOne .box {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    margin: 20px 20px 0;
}
.pageOne .box1 {
    transition: width 2000ms;
}
.pageOne .box1:hover {
    width: 300px;
}
.pageOne .box2 {
    transition: width 2000ms 1000ms, height 3000ms 1000ms;
}
.pageOne .box2:hover {
    width: 300px;
    height: 300px;
}
.pageOne .box3 {
    transition: width 2000ms linear;
}
.pageOne .box3:hover {
    width: 300px;
}
.pageOne .box4 {
    transition: width 2000ms ease;
}
.pageOne .box4:hover {
    width: 300px;
}
.pageOne .box5 {
    transition: width 2000ms ease-in;
}
.pageOne .box5:hover {
    width: 300px;
}
.pageOne .box6 {
    transition: width 2000ms ease-out;
}
.pageOne .box6:hover {
    width: 300px;
}
.pageOne .box7 {
    transition: width 2000ms ease-in-out;
}
.pageOne .box7:hover {
    width: 300px;
}

/* Page 2 */
.pageTwo {
    width: 100%;
    height: 100vh;
    position: relative;

    background-image: url("./images/clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border: 10px outset white;
    border-right-color: green;
    border-left-color: orange;

    overflow: hidden;
}
.heading {
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}
.heading__one {
    background-color: orange;
}
.heading__two {
    background-color: white;
}
.heading__three {
    background-color: green;
}
.sun {
    position: absolute;
    top: 150px;
    right: 350px;

    animation: sun 5000ms infinite;
}
@keyframes sun {
    100% {
        transform: rotate(360deg);
    }
}
.road {
    height: 250px;
    width: 500%;
    background-image: url("./images/road.jpg");
    background-repeat: repeat-x;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    animation: road 5000ms infinite;
}
@keyframes road {
    100% {
        transform: translateX(-2000px);
    }
}
.city {
    height: 350px;
    width: 500%;
    background-image: url("./images/city.png");
    background-repeat: repeat-x;

    position: absolute;
    bottom: 250px;
    left: 0;
    right: 0;

    animation: city 5000ms infinite;
}
@keyframes city {
    100% {
        transform: translateX(-1000px);
    }
}
.car {
    width: 500px;

    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    z-index: 1;
}
.car img {
    width: 100%;
    animation: car 3000ms infinite alternate;
}
.car img:nth-child(1) {
    position: absolute;
    left: 100px;
    top: -70px;
    width: 100px;
}
@keyframes car {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
}
.wheel {
    position: absolute;
    left: 50%;
    bottom: 180px;
    z-index: 1;

    transform: translateX(-50%);
}
.wheel img {
    animation: car 3000ms infinite alternate;
}
.wheel img:nth-child(1) {
    width: 75px;
    height: 75px;

    position: absolute;
    left: 95px;
}
.wheel img:nth-child(2) {
    width: 80px;
    height: 80px;

    position: absolute;
    right: 130px;
}